#container{ 
background-color: black;   
align-content: center;
img{  
    padding-left: 70vh; 
    align-self: center;
    width: 500px; 
    
}
#home{
    
    img{ 
        padding-left: 30vh; 
        padding-right: 30vh;
        align-self: center;
        height: 400px; 
        width: 1024px;
    } 
    p{
        justify-self: center; 
        float: left;
    } 
    
}  
h1{ 
    padding-left: 80vh;
}

}