#container{ 
   
    
#home{
    
    
    img{ 
        padding-left: 80vh;
        align-self: center;
        height: 350px; 
        width: 350px;
    } 
    p{
        justify-self: center; 
        float: left;
    }
} 

}