.Avatar{
    margin: 5%; 
    background: url(#{'../pictures/lowProfileDogKennel.jpg'}) !important;
    display: block;
    background-repeat: no-repeat;
    background-position:center
} 

.null{
    display: none; 
} 
.error{
    display: flex; 
    color: red; 
    h1{
        color: red
    }
}