
    #open-dog-run{
    background: url(#{'../pictures/9FTX9FT-Run.jpg'}); 
    background-repeat: no-repeat;
    background-position:center top;
    max-height: clamp(450px, 450px, 450px); 
    min-height: clamp(450px, 450px, 450px);  
    max-width: clamp(450px, 450px,450px);  
    min-width: clamp(450px, 450px, 450px); 
    }