.parentDog{
    display: block; 
    .myKennels{
        align-items: center; 
        padding: 0px !important;  
        img{  
    padding-left: 0vh !important; 
    align-self: center;
    width: 500px; 
    
}
    }
} 
