#kennel_slide{ 
    display: flex !important;
.parentDog{
    display:inline-block !important; 
    .myKennels{  
        
       
        div{
            max-height: clamp(200px, 200px, 200px) !important; 
            max-width: clamp(200px, 200px,200px) !important; 
        } 
        background: url(#{'../pictures/card-back.jpg'});  
        background-position: left;
        background-repeat: no-repeat;
        background-position:center;
        align-items: center; 
        padding: 0px !important;  
        max-height: clamp(300px, 300px, 300px) !important; 
        max-width: clamp(350px, 350px,350px) !important;  
        min-height: clamp(300px, 300px, 300px) !important;  
        min-width: clamp(350px, 350px, 350px) !important; 
        img{   
        max-height: clamp(200px, 200px, 200px) !important; 
        max-width: clamp(200px, 200px,200px) !important; 
    padding-left: 0vh !important;  
    align-self: center;
    
}
    }
} 
}