.Dog{
    display: block; 
    align-content: center;
}

#small-dog-kennel {  
    cursor: pointer;
    background: url(#{'../pictures/lowProfileDogKennel.jpg'}); 
    background-repeat: no-repeat;
    background-position:center;
    min-height: 250px; 
    max-width: 450px;
    margin-right: 70vh; 
    p{
        color: lavenderblush; 
        text-align: center; 
        font-weight: bold; 
       
    } 
} 
 #small-dog-kennel-back{ 
    cursor: pointer;
    background: url(#{'../pictures/card-back.jpg'}); 
    background-repeat: no-repeat;
    background-position:center;
    min-height: 250px; 
    max-width: 450px;
    margin-right: 70vh;  
    * {
        color: black; 
        text-align: center;
        font-weight: bold;
    } 
    #link{
        color: rgb(116, 52, 22)
    }  
    #link:hover{
        color: rgb(204, 105, 75);
    } 
    #more{
        float: left; 
        font-size: medium;
        border-radius: 3px;  
        background-color: rgb(255, 60, 0);
        box-shadow: 2px 3px rgb(202, 138, 138);
    }
    
 }
 #back{ 
        cursor: pointer;
        color: rgb(165, 82, 82); 
        text-decoration: underline;
    }
